html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eceff1;
  color: #4d4d4d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}
